<table class='table table-hover text-center'>
  <thead>
    <tr>
      <th class='text-center'>ID</th>
      <th class='text-center'>First name</th>
      <th class='text-center'>Last name</th>
      <th class='text-center'>Email</th>      
      <th class='text-center'>Description</th>
      <th class='text-center'>Image</th>
      <th class='text-center' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.description %></td>
        <td><%= user.image %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>