<div class="profile project">
	<p>
	  <strong>Name:</strong>
	  <%= @project.name %>
	</p>

	<p>
	  <strong>Url:</strong>
	  <%= @project.url %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>

	<p>
	  <strong>Image:</strong>
	  <%= @project.image %>
	</p>

	<p>
	  <strong>Thumbnail:</strong>
	  <%= @project.thumbnail %>
	</p>

	<p>
	  <strong>category:</strong>
	  <%= @project.category.name %>
	</p>

	<p>
	  <strong>User:</strong>
	  <%= @project.user.first_name %>
	</p>
</div>